.App {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.year-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.month-container {
  width: 280px;
  background-color: #08161b;
  border: 1px solid #08161b;
}

.week-day-container,
.day-container {
  display: flex;
}

.day-container {
  flex-wrap: wrap;
}

.header {
  display: flex;
  color: white;
  justify-content: center;
  padding: 10px 0;
  font-weight: 500;
}

.week-day,
.date {
  color: white;
  padding: 10px;
  width: 40px;
  text-align: center;
  box-sizing: border-box;
}

.curr-date {
  color: #08161b;
  background-color: white;
}

.padding {
  padding: 10px;
  width: 40px;
  box-sizing: border-box;
}

form {
  margin: 40px;
}

input[type="radio"] {
  accent-color: #08161b;
}

.month-selection {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-bottom: 40px;
}
